<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<ul class="nav justify-content-start">
    <li class="nav-item" >
        <a id="foot-nav1" class="nav-link active" aria-current="page"
           href="https://github.com/JavaNauts/Code4Me">About
            Code4Me</a>
    </li>
    <li class="nav-item" >
        <a id="foot-nav2" class="nav-link active" aria-current="page"
           href="/">Home</a>
    </li>
    <li class="nav-item">
        <a id="copyright" class="nav-link disabled" aria-disabled="true"
           href="#">© Copyright
            JavaNauts 2022</a>
    </li>
</ul>
</body>
</html>