#header-logo{
display:block;
margin:auto;
}

#profile-image{
border-radius:1em;
height:300;
}

#my-profile{
display:block;
text-align:center;
width: 20rem;
margin:2rem auto;

}

h4{
margin-top: 1rem;
}

#full-name{
font-weight:bold;
}
#user-info{
margin-bottom:5rem;
display:flex;
justify-content: start;
background-color: #003566;
padding:2rem;
padding-left: 4rem;
color:#f2f2f2;
}

#user-info2{
margin-left: 2rem;
}

#project-cards{
display:flex;
justify-content:space-around;
}

.card-body{
background-color:#ffc30080;
}

.card-text{
margin-top:1rem;
}

#user-skills{
display:flex;
justify-content:space-around;
}

#skills-div{
margin-left:.5rem;
margin-right:.5rem;
}

#skill{
width: 8rem;
display:inline;
}

.container-lg{
height: 10rem;
}

#edit-button{
height:2.5rem;
width: 10rem;
margin-left: 50%;
}

