#header-logo{
display:block;
margin:auto;
}

#profile-image{
border-radius:1em;
height:300;
}

#my-profile{
display:block;
text-align:center;
width: 20rem;
margin:2rem auto;

}

h4{
margin-top: 1rem;
}

#full-name{
font-weight:bold;
}
#user-info{
margin-bottom:5rem;
display:flex;
justify-content: start;
background-color: #003566;
padding:2rem;
padding-left: 4rem;
color:#f2f2f2;
}

#user-info2{
margin-left: 2rem;
width: 50%;
}

#project-cards{

}

#service-card{
background-color:#003566;
}

#service-card-desc{
color:#ffc300;
height:5rem;
}

#service-price{
color:#f2f2f2;
}
#project1-card, #project2-card{
background-color:#ffc300;
margin-right:2rem;
margin-top:.5rem;
}

#project1-card{
margin-bottom: 1rem;
}
.card-text{
margin-top:1rem;
}

#user-skills{
display:flex;
justify-content:space-around;
}

#skill{
width: 10rem;
display:block;
margin:auto;
text-align:center;
}

.container-lg{
height: 10rem;
}

#edit-button{
height:2.5rem;
width: 10rem;
margin-left: 40%;
}

#profile-cards{
margin-top:5rem;
margin-bottom:7rem;
padding-top: 2rem;
padding-bottom:2rem;
background-color:#8a93a1;
display:flex;
justify-content:flex-start;
}


