<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code4Me Home</title>
<!--    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>-->
</head>
<body>
<header>
    <h1>Code4Me</h1>
        <p>logo here</p>
    <!--nav bar-->
<!--        client sign up, dev login/logout, client log-in/logout-->
</header>
<main>
    <p>Site Description goes here</p>
<!--    search bar-->
<!--    keywords-->
<!--    featured profiles-->
    <button>Dev Signup</button>

</main>
<footer>
<!--    copyright, about-us, social media (stretch)-->
</footer>




<!--<script th:src="@{/assets/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/assets/popper.js/popper.min.js}"></script>-->
<!--<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>-->
</body>
</html>