<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/all.css">
</head>
<body>

<!--Dev Info-->
<header th:replace="fragments/nav-header">
</header>
<main>
    <h2 id="my-profile">My Profile</h2>
    <div id="user-info">
        <img src="../default_profile.png" alt="profile pic" id="profile-image">
        <div id="user-info2">
            <h2 th:text="${dbUser.firstName + ' ' + dbUser.lastName}"
                id="full-name"></h2>
            <h4 th:text="${'Username: ' + dbUser.username}"></h4>
            <h4 th:text="${'Contact Me: ' + dbUser.email}"></h4>
            <p th:text="${dbUser.profile.bio}"></p>
            <a id="gh-link" th:href="@{${dbUser.profile.gitHubLink}}">My GitHub
                Profile</a>

        </div>
            <a th:href="${'/edit-profile/' + username}"
               class="btn btn-secondary" id="edit-button">Edit Profile</a>
    </div>

<!--Skills section-->
    <div class="container-md">
        <div id="user-skills" class="container text-center">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
            </svg>

            <div th:each="skill: ${dbUser.profile.skills}"
                 th:if="${skill.keyword}"
                 class="alert alert-success row"
                 role="alert"
                 id="skills-div">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                     aria-label="Success:">
                    <use xlink:href="#check-circle-fill"/>
                </svg>
                <div th:text="${skill.keyword}" id="skill" class="col-6 col-sm-3">
                </div>

            </div>
        </div>
    </div>
    <section id="profile-cards">
    <div class="container-md" id="service-cards">
        <container class="d-inline-flex p-2 " th:each="service: ${services}">
            <div class="card" style="width: 18rem;" id="service-card">
                <img src="../Coding_pic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${service.description}" class="card-title"
                        id="service-card-desc">Card
                        title</h5>
                    <p th:text="'$ '+${service.price}+'.00'"
                       class="card-text" id="service-price"></p><br>
                    <form action='/charge' method='POST' id='checkout-form'>
                        <input type='hidden'  th:value='${service.price*100}'
                               name='amount'/>
                        <script
                                src='https://checkout.stripe.com/checkout.js'
                                class='stripe-button'
                                th:attr='data-key=${stripePublicKey},
         data-amount=${service.price*100},
         data-currency=${currency}'
                                data-name='Code4Me'
                                data-description='Spring course checkout'
                                data-image
                                        ='../Logo.png'
                                data-locale='auto'
                                data-zip-code='false'>
                        </script>
                    </form>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                            crossorigin="anonymous"></script>
                </div>
            </div>
        </container>
    </div>
    <div id="project-cards">
        <div id="project1-card" class="card" style="width: 20rem;">
            <div id="project-1" class="card-body">
                <h3 class="card-title" th:text="${dbUser.profile.projectOne}"></h3>
                <a class="card-link" th:href="@{${dbUser.profile.projectOneLink}}"
                   th:text="${dbUser.profile.projectOneLink}"></a>
                <p class="card-text" th:text="${dbUser.profile.projectOneDesc}"></p>
            </div>
        </div>

        <div id="project2-card" class="card" style="width: 20rem;">
            <div id="project-2" class="card-body">
                <h3 class="card-title" th:text="${dbUser.profile.projectTwo}"></h3>
                <a class="card-link" th:href="@{${dbUser.profile.projectTwoLink}}"
                   th:text="${dbUser.profile.projectOneLink}"></a>
                <p class="card-text" th:text="${dbUser.profile.projectTwoDesc}"></p>
            </div>
        </div>
    </div>
</section>
</main>

<footer th:replace="/fragments/footer">
</footer>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>